@model IEnumerable<EricTim.Models.Customer>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstMidName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberOfPassengers)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FrequentDestination)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DestinationZone)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstMidName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfBirth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberOfPassengers)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FrequentDestination)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DestinationZone)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AccountID }) |
            @Html.ActionLink("Details", "Details", new { id=item.AccountID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AccountID })
        </td>
    </tr>
}

</table>
